

line {
    stroke:#777;
    stroke-opacity: 0.8;
    stroke-width: 1spx;
}

circle {
    fill:#ccc;
    stroke:#000;
    stroke-width: 1.5px;
}

line.hovered {  
    stroke:orange;
}

circle.hovered {  
    fill:orange;
}